body, wrapper {
    min-height: 100vh;
}
.navbar {
    background: linear-gradient(90deg, rgba(253,217,199,1) 0%, rgba(248,182,187,1) 33.33%, rgba(154,194,186,1) 66.66%, rgba(137,197,216,1) 100%);
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'new-spirit', 'century gothic', 'sans-serif';}

.navbar a {font-size: 1.5em;}

.navbar-brand {font-weight: 500;}

.nav-link {
    color:white !important;
    }

.active {background-color:#9AC2BA !important;}


.jumbotron {
    background-color:#FDD9C7;
    background-size: cover; 
    background-position: top;
    margin: 30px;
    text-align: center;}

.lead {
    font-size: 2.5vmin;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2vmin;
    margin-top: 3vmin;
    margin-bottom: 2vmin;  
}

.btn {
    color: white;
    background-color:#F8B6BB;
    border:none;
    border-radius: 30px;
    font-family: 'new-spirit', 'century-gothic', 'sans-serif';
    padding:10px;
    font-size: 3vmin;
    }

.btn:hover {
    background-color:#89C5D8;
    font-weight: 500;}

.btn:active {
    background-color:#89C5D8 !important;
    outline: none !important;
    box-shadow: none !important;

}

#btn-alt {background-color:#89C5D8; width: 7em;}

#btn-alt:hover {background-color:#F8B6BB;}

#btn-alt:active {background-color:#F8B6BB !important;}


h1 {font-family: 'freehouse', 'sans-serif'; font-size: 5vmin;}

p {font-family: 'century-gothic', 'sans-serif';}

a {color:white;}

#text-link {color: rgb(137,197,216)}

footer {
    background: linear-gradient(90deg, rgba(253,217,199, 1) 0%, rgba(248,182,187,1) 33.33%, rgba(154,194,186,1) 66.66%, rgba(137,197,216,1) 100%);
   }

.footer-text {font-family: 'century-gothic', 'sans-serif'}